
/* class to be called by the js */
.visibility {
  visibility: hidden;
}


/* tag selectors */
body {
  background-color: #162447;
  color: #32e0c4;
  text-align: center;
}



img, h1{ /*all the headings and images are overlayed in the same postion and the visibility is changed by js*/
  position: absolute;
  left: 0;
  right: 0;
  margin:20px auto;
}

img {
    width: 50%;
    height: auto;
}

h1 {
  font-size: 8rem;
}

.container-fluid {

}

/* Id slectors */
#top {
  position: relative;
  font-family: 'Galada', cursive;
  padding: 3% 10% 7%;
  margin-bottom: 6%;
}

#middle {
  padding: 0 30% 20%;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}
