
/* class to be called by the js */
.visibility {
  visibility: hidden;
}


/* tag selectors */
body {
  text-align: center;
  background-color: #162447;
  color: #32e0c4;
}

/*all the headings are overlayed in the same postion and the visibility is changed by js*/
h1{
  position: absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  font-size: 7rem;
}


/* draw is declared statitc to control the flow of elements in the page*/
.draw {
  position: static;
}



/* Id slectors */
#top {
  font-family: 'Galada', cursive;
  padding: 3% 10% 3%;
  position: relative;
}

#middle {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding: 0 25% 5%;
}
